.forgot_password {
    width: 100%;
    display: flex;
    justify-content: center;
}
.forgt_pw_pane {
    height: 300px;
    width: 390px;
    margin-top: 20px;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
}
.pane_title {
    font-family: "SegoeUI";
    margin-top: 40px;
    font-size: 13px;
    text-align: center;
    margin-bottom: 14px;
}
.text_name {
    font-family: "GTEestiProDisplay-Thin";
    letter-spacing: 0.3px;
    font-size: 10px;
    margin-bottom: -3px;
    color: #464646;
    margin-left: 35px;
    margin-top: 50px;
    letter-spacing: 0.5px;
}
.forgt_pw_inputfield {
    margin-left: 34px;
    margin-top: 10px;
    border-radius: 3px;
    padding-left: 5px;
}
.forgt_pw_inputfield::placeholder {
    font-family: "SegoeUI";
    font-size: 10px;
    color: #000000;
}
.forgt_pw_button {
    margin-left: 34px;
    margin-top: 20px;
    width: 322px;
    background-color: #0052cc;
    border: none;
    height: 30px;
    border-radius: 4px;
    font-family: "SegoeUI";
    color: white;
    font-size: 12px;
}
.forgt_pw_button:hover {
    background-color: #003d99;
}
.return {
    font-family: "GTEestiProDisplay-Thin";
    text-align: center;
    font-size: 12px;
    color: #0052cc;
    margin-top: 30px;
    letter-spacing: 0.5px;
}
.fp_link {
    text-decoration: none;
}

/* Mobile */

.mob_forgt_pw_pane {
    height: 250px;
    width: 260px;
    margin-top: 0;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
}
.mob_forgt_pw_button {
    margin-left: 20px;
    margin-top: 10px;
    width: 220px;
    background-color: #0052cc;
    border: none;
    height: 30px;
    border-radius: 4px;
    font-family: "SegoeUI";
    color: white;
    font-size: 12px;
}
.mob_forgt_pw_inputfield {
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 3px;
    padding-left: 5px;
}
.mob_forgt_pw_inputfield::placeholder {
    font-family: "SegoeUI";
    font-size: 10px;
    color: #000000;
}
.mob_pane_title {
    font-family: "SegoeUI";
    margin-top: 30px;
    font-size: 13px;
    text-align: center;
}
.mob_text_name {
    font-family: "GTEestiProDisplay-Thin";
    letter-spacing: 0.3px;
    font-size: 10px;
    margin-bottom: -3px;
    color: #8a7676;
    margin-left: 20px;
    margin-top: 30px;
    letter-spacing: 0.5px;
}
