.workspace {
    margin-top: 18px;
}
.cotainer {
    padding-top: 120px;
}
.workspace_container {
    /* background-color: brown; */
    margin-left: 360px;
    height: 300px;
    width: 700px;
    z-index: 0;
}
.workspace_container h2 {
    display: inline;
    font-family: "GTEestiProDisplay-light";
    color: #344563;
    font-size: 21px;
    letter-spacing: 0.7px;
}
.space {
    padding: 12px;
    margin-top: 40px;
    float: left;
    height: 208px;
    width: 210px;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    margin-right: 22px;
    margin-bottom: 50px;
}
.spc:hover {
    background-color: #f3f1f5;
    cursor: pointer;
}
.add_space {
    color: #344563;
    font-family: "GTEestiProDisplay-light";
    font-size: 13px;
    letter-spacing: 0.3px;
}
.add_circle {
    margin-top: 80px;
    margin-bottom: -5px;
}
.space h4 {
    color: #344563;
    font-family: "SegoeUI";
    font-size: 14px;
    margin-top: 8px;
}
.moreicon {
    float: right;
    color: #cecece;
}
.arrow {
    display: inline;
    cursor: pointer;
    margin-left: 12px;
    width: 15px;
    height: 10px;
}
.space .deski {
    color: #a0a2a7;
    font-family: "SegoeUI";
    font-size: 10px;
    margin-top: -15px;
}
.space .des {
    color: #7b7b7b;
    font-family: "SegoeUI";
    font-size: 10px;
    margin-top: -3px;
}
.space .progress {
    text-align: center;
    color: #344563;
    font-family: "GTEestiProDisplay-light";
    font-size: 7px;
    margin-top: 15px;
}
.img_cnt {
    float: right;
    height: 17px;
    width: 18px;
    border-radius: 3px;
    border: solid 1px #efefef;
    margin-top: 15px;
    margin-right: 8px;
}
.img_cnt p {
    color: #fcb400;
    font-family: "SegoeUI";
    font-size: 10px;
    margin-top: 2px;
    margin-left: 4px;
}
.img_cnt2 {
    float: right;
    height: 17px;
    width: 18px;
    border-radius: 3px;
    border: solid 1px #efefef;
    margin-top: 15px;
    margin-right: 8px;
}
.img_cnt2 p {
    color: #2079d2;
    font-family: "SegoeUI";
    font-size: 10px;
    margin-top: 2px;
    margin-left: 4px;
}

.profiles {
    margin-top: 15px;
    float: right;
}
.clock p {
    color: #858585;
    font-family: "GTEestiProDisplay-light";
    font-size: 9px;
    letter-spacing: 0.4px;
    margin-top: 0;
    margin-left: 8px;
}
.clock {
    border-radius: 2px;
    background-color: #f2f2f2;
    margin-top: 16px;
    width: 71px;
    padding-top: 4px;
    display: flex;
    justify-content: center;
    height: 14px;
}
.add_workspace {
    /* background-color: burlywood; */
    margin-top: 50px;
    margin-left: 360px;
    height: fit-content;
    width: 1000px;
    margin-bottom: 100px;
}
.add_workspace p {
    display: inline;
    color: #858585;
    font-family: "SegoeUISemibold";
    font-size: 17px;
    margin-left: 17px;
}
.menucontent {
    font-family: "SegoeUI";
    color: #707070;
    font-size: 12px;
}
.popover {
    margin-left: 38px;
    margin-top: -47px;
}
.popover .title {
    color: #707070;
    font-family: "SegoeUISemibold";
    font-size: 13px;
}
.popover .des {
    margin-top: -12px;
    width: 150px;
    color: #7b7b7b;
    font-family: "SegoeUISemilight";
    font-size: 9px;
}
.container {
    padding-left: 5px;
    padding-top: 10px;
    width: 190px;
    height: 50px;
}
.container:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}
.row_2 {
    margin-left: 200px;
    margin-top: -50px;
}
.pop_row {
    margin-top: 20px;
}
.share_workspace h4 {
    font-size: 15px;
    letter-spacing: 0.3px;
    color: #344563;
    font-family: "GTEestiProDisplay-Thin";
}
.share_workspace p {
    margin-top: -5px;
    margin-bottom: 15px;
    font-size: 11px;
    font-family: "SegoeUI";
    color: #7b7b7b;
    width: 400px;
}
.share_input::placeholder {
    color: #9a9a9a;
    font-family: "SegoeUI";
    font-size: 13px;
    padding-left: 10px;
}
.drop_icon {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}
.dlt_workspace h4 {
    margin-left: -15px;
    letter-spacing: 0.3px;
    color: #344563;
    font-size: 15px;
    font-family: "GTEestiProDisplay-Thin";
}
.dlt_workspace p {
    margin-left: -15px;
    margin-top: -5px;
    margin-bottom: 15px;
    font-size: 11px;
    font-family: "SegoeUI";
    color: #7b7b7b;
}
.dropdown {
    width: 400px;
    height: 40px;
    border-radius: 4px;
    border: solid 0.1px #cecece;
    background-color: #fff;
    color: #9a9a9a;
    font-family: "SegoeUI";
    text-align: left;
    padding-left: 25px;
    cursor: pointer;
}
.cancel_btn {
    width: 59.4px;
    height: 27px;
    border-radius: 4px;
    background-color: white;
    color: #7f7c82;
    font-family: "SegoeUISemibold";
    font-size: 13px;
    border: none;
    border-color: #efefef;
    margin-top: 30px;
    margin-left: 245px;
    cursor: pointer;
}
.add_btn {
    border-radius: 4px;
    font-family: "SegoeUI";
    font-size: 13px;
    background-color: #0052cc;
    width: 80.4px;
    height: 27px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-color: #0052cc;
    margin-left: 15px;
}
.cncl {
    margin-left: 130px;
    margin-top: 20px;
}
.dlt_btn {
    border-radius: 4px;
    font-family: "SegoeUISemibold";
    font-size: 13px;
    background-color: #ff2442;
    width: 124px;
    height: 27px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-color: #ff2442;
    margin-left: 15px;
}
.cancel_btn:hover {
    background-color: #f3f1f5;
}
.add_btn:hover {
    background-color: #086bff;
}
