.sidebar {
    position: fixed;
    margin-top: 60px;
    padding-top: 65px;
    padding-left: 60px;
    /* background-color: blueviolet; */
    width: 250px;
    overflow-y: scroll;
    height: 80%;
}
.spc {
    margin-bottom: 60px;
}
.sidepane {
    /* background-color: blue; */
    height: fit-content;
    width: 210px;
}
.searchinput::placeholder {
    font-family: "SegoeUI";
    color: #6d6d6d;
    font-size: 12px;
}
.sidepane .wrk_title {
    color: #858585;
    font-family: "SegoeUI";
    font-size: 13px;
}
.img_title {
    color: #858585;
    font-family: "GTEestiProDisplay-light";
    font-size: 13px;
    letter-spacing: 0.4px;
    display: inline;
    margin-left: 10px;
}
.img_titl {
    color: #858585;
    font-family: "GTEestiProDisplay-light";
    font-size: 13px;
    letter-spacing: 0.4px;
    display: inline;
    margin-left: 13px;
}
.links {
    text-decoration: none;
}
