.board {
    padding-top: 100px;
    margin-left: 315px;
    overflow-x: scroll;
    height: 555px;
    overflow-y: scroll;
}
.board h2 {
    font-family: "GTEestiProDisplay-regular";
    font-size: 21px;
    letter-spacing: 0.7px;
    color: #344563;
}
.board_profile {
    float: left;
    height: 17px;
    width: 18px;
    border-radius: 2px;
    border: solid 1px #efefef;
    margin-top: 15px;
    margin-right: 8px;
}
.board_profile p {
    color: #2079d2;
    font-family: "SegoeUI";
    font-size: 10px;
    margin-top: 2px;
    margin-left: 4px;
}
.bd_profiles {
    border-radius: 2px;
    float: left;
    margin-top: 15px;
}
.bd_head {
    margin-top: -52px;
    margin-left: 260px;
}
.bd_head .epic {
    font-family: "GTEestiProDisplay-Light";
    float: left;
    color: #344563;
    font-size: 13px;
    letter-spacing: 0.1px;
    margin-top: -5px;
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
}
.bd_head .epic_ {
    font-family: "GTEestiProDisplay-Light";
    float: left;
    color: #344563;
    font-size: 11px;
    letter-spacing: 0.1px;
    margin-top: 2px;
    margin-left: 10px;
    /* padding: 5px 10px 5px 10px; */
}
.bd_head .epic:hover {
    background-color: #efefef;
    cursor: pointer;
    border-radius: 4px;
}
.bd_head .epic_label {
    margin-top: -30px;
    margin-left: 60px;
}
.coll_drpdwn p {
    font-family: "GTEestiProDisplay-Light";
    font-size: 12px;
    margin-bottom: -10px;
    color: #344563;
    margin-top: 5px;
}
.disabled_ {
    font-family: "GTEestiProDisplay-Regular";
    font-size: 14px;
    color: #344563;
}
.invite_ {
    font-family: "GTEestiProDisplay-Light";
    font-size: 12px;
    color: #344563;
}
.bd_head .epic_drpdwn {
    margin-left: 6px;
}
.board_collaborators {
    cursor: pointer;
    height: 45px;
}
.boards {
    display: grid;
    grid-template-columns: 283px 283px 283px 283px 283px 283px 283px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.end_col {
    width: 160px;
}
.more_epic {
    float: right;
    color: #707070;
    height: 12px;
    width: 12px;
    margin-top: 7px;
    margin-right: 5px;
    cursor: pointer;
}
.boards .status {
    width: 270px;
    border-radius: 5px;
    height: 100%;
    background-color: #eeeeee;
    padding-bottom: 7px;
}

.boards .status .status_header {
    background-color: white;
    margin: 6px 5px 5px 5px;
    padding: 1px 10px 0 8px;
    height: 30px;
    border-radius: 3px;
}
.boards .status .status_header p {
    font-family: "GTEestiProDisplay-Regular";
    color: #344563;
    font-size: 13px;
    margin-top: 7px;
}
.bd_add {
    float: right;
    color: #cecece;
    margin-top: 5px;
    margin-left: 5px;
}
.board_add {
    width: 55px;
    height: 23px;
    padding-top: 8px;
    display: flex;
    justify-content: center;
    background-color: #efefef;
}
.board_name {
    margin-left: 5px;
    top: -37px;
    margin-bottom: -61px;
    position: relative;
}
.board_name div {
    margin-left: 207px;
}
.board_name div button {
    height: 21px;
    width: 23px;
    margin-right: 5px;
    margin-top: 3px;
    border: none;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.16);
}
.board_name div .icon {
    margin-top: 2px;
    color: #858585;
}
.create_issue p {
    display: inline;
    font-family: "GTEestiProDisplay-Regular";
    color: #344563;
    font-size: 11px;
    margin-left: 10px;
}
.create_issue {
    margin-top: 10px;
    margin-left: 5px;
    padding: 2px;
    border-radius: 5px;
}
.create_issue:hover {
    background-color: #d4d4d4;
    cursor: pointer;
    width: 80px;
}
.issue_send {
    height: 15px;
    width: 15px;
    float: right;
    margin-right: 20px;
    margin-top: -37px;
    position: relative;
}
