.epics {
    background-color: white;
    margin: 7px 12px 0 10px;
    padding: 9px 15px 12px 8px;
    border-radius: 3px;
}
.epics_ {
    padding: 9px 15px 35px 8px;
}
.epics .des {
    font-family: "SegoeUI";
    color: #7b7b7b;
    font-size: 10px;
}
.epics .des_ {
    width: 240px;
}
.epics .name {
    text-align: center;
    font-family: "GTEestiProDisplay-thin";
    color: #344563;
    font-size: 8px;
    margin-top: 0;
    background-color: #fcf0dd;
    width: 55px;
    border-radius: 5px;
    padding: 3px;
}
.epics .name_ {
    text-align: center;
    font-family: "GTEestiProDisplay-thin";
    color: #344563;
    font-size: 8px;
    margin-top: 0;
    background-color: #ddeafc;
    width: 55px;
    border-radius: 5px;
    padding: 3px;
}
.epics .name__ {
    text-align: center;
    font-family: "GTEestiProDisplay-thin";
    color: #344563;
    font-size: 8px;
    margin-top: 0;
    background-color: #ddfcde;
    width: 55px;
    border-radius: 5px;
    padding: 3px;
}
.more_epic {
    float: right;
    color: #cecece;
    height: 12px;
    width: 12px;
    margin-right: 5px;
}
.epics .footer .kb {
    display: inline;
    font-family: "GTEestiProDisplay-thin";
    font-size: 8px;
    margin-right: 15px;
    margin-left: 5px;
}
.epics .footer {
    margin-top: 22px;
}
.epics .footer .epic_label {
    display: inline;
    font-family: "GTEestiProDisplay-thin";
    font-size: 8px;
    background-color: #e2fff6;
    border-radius: 5px;
    padding: 2px 12px 2px 12px;
}
.epics .footer .right {
    display: inline;
    float: right;
}
.right .profile {
    border-radius: 3px;
    margin-right: -4px;
    margin-left: 20px;
}
