.workspaces {
    padding-top: 100px;
    margin-left: 360px;
}
.workspaces h2 {
    font-family: "GTEestiProDisplay-regular";
    font-size: 21px;
    letter-spacing: 0.7px;
    color: #344563;
}
.my_workspace {
    margin-left: 10px;
}
.my_workspace h4 {
    color: #344563;
    font-family: "GTEestiProDisplay-Regular";
    letter-spacing: 0.5px;
    margin-top: 45px;
}
.card_div h4 {
    color: #344563;
    letter-spacing: 0.4px;
    font-family: "SegoeUISemibold";
    margin-left: 55px;
    margin-top: -40px;
    font-size: 14px;
}
.card_div .span4 {
    color: #a0a2a7;
    font-size: 9px;
    font-family: "SegoeUI";
    margin-left: 55px;
    margin-top: -17px;
}
.card_div .des {
    color: #7b7b7b;
    font-size: 10px;
    font-family: "SegoeUI";
    margin-top: 13px;
    width: 200px;
}
.card_secondrow {
    margin-top: 110px;
}
.second_workspace {
    margin-top: 240px;
    margin-left: 15px;
    height: 300px;
}
.second_workspace h4 {
    color: #344563;
    font-family: "GTEestiProDisplay-regular";
    letter-spacing: 0.5px;
    margin-top: 45px;
}
.card_div h4 {
    color: #344563;
    letter-spacing: 0.4px;
    font-family: "SegoeUI";
    margin-left: 55px;
    margin-top: -40px;
    font-size: 14px;
}
.second_workspace h4 span {
    color: #2b2b2b;
    font-family: "GTEestiProDisplay-Regular";
    font-size: 9px;
    border-radius: 2px;
    background-color: rgba(164, 164, 164, 0.3);
    margin-left: 10px;
    padding: 1px 4px 0 4px;
}
.arrow1 {
    display: inline;
    cursor: pointer;
    width: 12px;
    height: 10px;
}
.arrow_div {
    width: 30px;
    margin-left: 145px;
    margin-top: -40px;
}
.more_ {
    color: #cecece;
    cursor: pointer;
    float: right;
    margin-top: -5px;
    width: 13px;
    height: 13px;
}
.menucontentred {
    font-family: "SegoeUI";
    color: #707070;
    font-size: 12px;
    color: #ff2442;
}
.dropdwn {
    width: 420px;
    height: 31px;
    border: solid 0.1px #cecece;
    background-color: #fff;
    color: #7b7b7b;
    font-size: 15px;
    font-family: "GTEestiProDisplay-Light";
    text-align: left;
    padding-left: 7px;
    margin-left: -5px;
    margin-right: -20px;
    cursor: pointer;
}
.drop_icon_pro {
    float: right;
    margin-right: 10px;
    margin-top: 4px;
    width: 12px;
}
.move_btn {
    border-radius: 4px;
    font-family: "SegoeUI";
    font-size: 13px;
    background-color: #0052cc;
    width: 105px;
    height: 28px;
    cursor: pointer;
    color: #fff;
    border: none;
    margin-right: -20px;
    border-color: #0052cc;
    margin-left: 15px;
}
.move_btn:hover {
    background-color: #086bff;
}
.move {
    margin-left: 235px;
}
