@font-face {
    font-family: "GTEestiProDisplay-Bold";
    src: local("GTEestiProDisplay-Bold"), url("./fonts/gt-eesti-pro-display-bold.otf");
}
@font-face {
    font-family: "GTEestiProDisplay-Light";
    src: local("GTEestiProDisplay-Light"), url("./fonts/gt-eesti-pro-display-light.otf") format("truetype");
}
@font-face {
    font-family: "GTEestiProDisplay-Thin";
    src: local("GTEestiProDisplay-Thin"), url("./fonts/gt-eesti-pro-display-thin.otf") format("truetype");
}
@font-face {
    font-family: "GTEestiProDisplay-Medium";
    src: local("GTEestiProDisplay-Medium"), url("./fonts/gt-eesti-pro-display-medium.otf") format("truetype");
}
@font-face {
    font-family: "SegoeUI";
    src: local("SegoeUI"), url("./fonts/segoeui.ttf") format("truetype");
}
@font-face {
    font-family: "SegoeUISemibold";
    src: local("SegoeUISemibold"), url("./fonts/seguisb.ttf") format("truetype");
}
@font-face {
    font-family: "SegoeUIBold";
    src: local("SegoeUIBold"), url("./fonts/segoeuib.ttf") format("truetype");
}
@font-face {
    font-family: "SegoeUISemilight";
    src: local("SegoeUISemilight"), url("./fonts/segoeuisl.ttf") format("truetype");
}
